################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/.vs/slnx.sqlite
/.vs/patikadev/FileContentIndex
/CS101/.vs/CS101/FileContentIndex
